services:
  - type: web
    name: ananthom-backend
    env: python
    region: oregon
    buildCommand: "./build.sh"
    startCommand: "gunicorn config.wsgi:application"
    envVars:
      - key: PYTHON_VERSION
        value: 3.13.0
      - key: DATABASE_URL
        fromDatabase:
          name: ananthom-db
          property: connectionString
